body {
  font-family: 'Roboto', sans-serif;
  color: #4a5568;
}

.true {
  color: lightgrey;
}

select,
textarea,
input[type='text'],
input[type='password'],
input[type='datetime'],
input[type='datetime-local'],
input[type='date'],
input[type='month'],
input[type='time'],
input[type='week'],
input[type='number'],
input[type='email'],
input[type='url'] {
  font-size: 16px;
}
